@import "tailwindcss";

:root {
  --background: #f2ede3;
  --foreground: #0f221c;

  --color-primary: #0f221c;
  --color-primary-light: #173028;
  --color-cream: #f2ede3;
  --color-accent: #bb6a45;
  --color-accent-light: #e0b69e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-cream: var(--color-cream);
  --color-accent: var(--color-accent);
  --color-accent-light: var(--color-accent-light);
  --font-sans: var(--font-vazirmatn);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
